{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>{% block title %} Contact Us {% endblock title %}</title>
</head>

<body>
    <div class="d-flex flex-column min-vh-100">
        <div class="postion-relative">
            <nav class="navbar navbar-expand-lg navbar-dark shadow position-relative " style="background-color: #520dc2 ">
                <div class="container-fluid my-1 ">
                    <a class="navbar-brand " href="# ">Resfolio</a>
                    <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item ">
                                <a class="nav-link active " aria-current="page " href="/choose/ ">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active " aria-current="page " href="/contact/ ">Contact</a>
                            </li>
                        </ul>
                        <a class="btn btn-outline-success " href="/login/ " role="button ">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="flex-grow-1 d-flex justify-content-center">
            <!-- partial:index.partial.html -->
            <div id="javascript_header ">
            </div>
            <form action="POST">
                <div class="form__header">
                    <h1>Contact Us</h1>
                    <p style="color: black;">Any Queries? Connect With Us</p>
                </div>
                <div class="line-break ">
                </div>
                <div class="form-group">
                    <label for="name">Full Name<span>*</span></label>
                    <input id="name" name="name" type="text" />
                    <div class="error" id="name__error">
                    </div>
                </div>
                <div class="line-break ">
                </div>
                <div class="form-group">
                    <label for="name">Contact</label>
                    <input id="name" name="name" value="{{portfolio_info.name}}" type="text" />
                </div>
                <div class="line-break ">
                </div>
                <div class="form-group">
                    <label for="about">How can we help?</label>
                    <textarea id="about" name="about_info" placeholder="{{portfolio_info.about_info}}"></textarea>
                </div>
                <input type="submit" value="Submit Info" />
            </form>
        </div>
    </div>
    <!-- partial -->
    <script src="/static/js/script2.js">
    </script>

</body>
{% endblock body %}

</html>